In [6]:
import findspark
findspark.init('/home/aditya/spark-3.1.1-bin-hadoop2.7')
import pyspark as pysk

# Spark DataFrame Basics

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [10]:
df = spark.read.json('people.json')

In [11]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [12]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df.columns

['age', 'name']

In [14]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [15]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [16]:
## Working with Schema

In [17]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [18]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [19]:
final_struc = StructType(fields = data_schema)

In [20]:
df = spark.read.json('people.json',schema=final_struc)

In [21]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# How to grab data in pyspark

In [24]:
df['age']

Column<'age'>

In [26]:
type(df['age'])

pyspark.sql.column.Column

In [27]:
df.select('age')

DataFrame[age: int]

In [29]:
df.select(['age']).show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [32]:
print(type(df.head(2)))
df.head(2)

<class 'list'>

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [33]:
## adding a new column

In [34]:
df.withColumn('new_Age',df['age']).show()

+----+-------+-------+
| age|   name|new_Age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     30|
|  19| Justin|     19|
+----+-------+-------+

In [35]:
df.withColumn('double_Age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_Age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [36]:
## renaming a column

df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [37]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Using SQL with Spark

In [38]:
#register dataframe as a sql temp view

df.createOrReplaceTempView('people')

In [39]:
results = spark.sql("select * from people")

In [40]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
results = spark.sql("select * from people where age = 30")
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+